.contact {
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-text {
        h1 {
            color: $color-heading;
            font-size: 54px;
            font-weight: 600;
            margin-bottom: 50px;
        }
        .contact-text-address,
        .contact-text-email {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            h4 {
                font-size: 24px;
                color: white;
                font-weight: 600;
            }
            p {
                font-size: 20px;
                color: #666666;
            }
        }
    }
    .contact-social {
        width: 100%;
        border: none;
        border-radius: 60px;
        background-color: #282828;
        color: $color-heading;
        text-align: center;
        box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
        outline: none;
        color: $color-heading;
        font-size: 24px;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .contact-social-touch {
            margin-left: 50px;
            p {
                font-size: 24px;
                font-weight: 600;
                color: $color-heading;
            }
            .contact-social-touch-item {
                justify-content: space-between;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
        .contact-social-map {
        }
    }
    .contact-send {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        img {
            width: 191px;
            height: 191px;
            margin-bottom: 50px;
        }
        a {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: #bfa871;
            text-align: center;
            height: 55px;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            padding: 0 10px;
            font-weight: 600;
            outline: none;
            line-height: 55px;
            width: 110%;
        }
    }
}
