.cloud-doctor-introduce 
    .main 
        .title 
            p Giới thiệu dự án
        .content 
            p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước.
.cloud-doctor-video 
    .video
        img(src="images/cloud-doctor/video.png", alt="")
.cloud-doctor-result 
    .main 
        .circle
            .dot 
        .title 
            | results of our efforts and enthusiasm
        .content 
            | Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
.cloud-doctor-viewmore 
    .icon-bg-top 
        img(src="images/cloud-doctor/bg-icon-2.svg", alt="")
    .icon-bg-bottom 
        img(src="images/cloud-doctor/bg-icon-1.svg", alt="")
    .main 
        a.back-button(href="")
            span 
                img(src="images/cloud-doctor/back-icon.svg", alt="")
            | Back
        .content 
            .title 
                | Discover our project
            .link 
                a(href="https://www.clouddoctor.com")
                    | https://www.clouddoctor.com
        a.next-button(href="")
            | Next
            img(src="images/cloud-doctor/next-icon.svg", alt="")
            