.cloud-doctor-banner
    .container-fluid 
        .row 
            .col-1
            .col-5
                .left-content
                    img(src="images/cloud-doctor/logo.svg", alt="")
                    p.title Phần mềm y bạ điện tử
