.cloud-doctor-banner
    .bg-cover
    .container-fluid 
        .row 
            .col-lg-6.col-12
                .left-content
                    img(src="images/cloud-doctor/logo.svg", alt="")(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 0.5s")
                    p.title(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 1 s") Phần mềm y bạ điện tử
