.section-timeline {
    padding: 300px 0;
    background-color: $color-background;
    height: auto;
    .chicago {
        position: relative;
        .fly {
            position: absolute;
            width: 80px;
            bottom: -100px;
            left: 50%;
            @media screen and(max-width: 1025px) {
                width: 73px;
                bottom: -67px;
            }
            @media screen and(max-width: 769px) {
                width: 70px;
                bottom: -21px;
                transform: translateX(-50%);
            }
        }
        .left {
            img {
                width: 100%;
                @media screen and(max-width: 769px) {
                    margin-bottom: 50px;
                }
            }
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .title {
                font-size: 36px;
                font-weight: 600;
                color: #BFA871;
            }
            .content {
                font-size: 18px;
                font-weight: 400;
                color: #BFA871;
            }
        }
        padding-bottom: 600px;
    }
    .vietnam {
        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @media screen and(max-width: 769px) {
                align-items: flex-start;
            }
            .title {
                font-size: 36px;
                font-weight: 600;
                color: #BFA871;
            }
            .content {
                font-size: 18px;
                font-weight: 400;
                color: #BFA871;
                text-align: right;
                @media screen and(max-width: 769px) {
                    text-align: left;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media screen and(max-width: 769px) {
                justify-content: center;
            }
            img {
                width: 70%;
                @media screen and(max-width: 769px) {
                    margin-top: 50px;
                }
            }
        }
    }
}