.enterpriseapp 
    .container
        .row.justify-content-center
            .enterpriseapp-item 
                h1(class="animate__animated wow animate__fadeInUp" style="animation-delay: 0.5s" ) Packaged app
                p(class="animate__animated wow animate__fadeInUp" style="animation-delay: 1s") Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
.product 
    .container 
        .row 
            .col-md-6.col-12.d-flex.justify-content-start
                .product-text 
                    h3(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 0.5s") Time Tracker
                    p(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 0.8s") Phần mềm chấm công
                    button(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 1s") View More
            .col-md-6.col-12.d-flex.justify-content-end
                .product-img(data-tilt) 
                    img( class="product-mia animate__animated wow animate__fadeInRight" , style="animation-delay: 1.4s" src="images/timetracker.png", alt="")
.product 
    .container
        .row 
            .col-md-6.col-12.d-flex.justify-content-start
                .product-img
                    img( class="product-mia animate__animated wow animate__fadeInLeft" src="images/bustracker.png", style="animation-delay: 0.5s" alt="")
            .col-md-6.col-12.d-flex.justify-content-end
                .product-text 
                    h3(class="animate__animated wow animate__fadeInRight" style="animation-delay: 1s") Bus Tracker
                    p(class="animate__animated wow animate__fadeInRight" style="animation-delay: 1.2s") Phần mềm y bạ điển tử
                    button(class="animate__animated wow animate__fadeInRight" style="animation-delay: 1.4s") View More  
.enterpriseapp-send 
    .container
        .row.justify-content-center
            .enterpriseapp-send-item
                .product-img
                    h1(class="animate__animated wow animate__fadeInUp" style="animation-delay: 0.5s" ) Let's Work Together
                a(class="animate__animated wow animate__fadeInUp" style="animation-delay: 1s") Send an email 