.ourservice 
    .container
        .row.justify-content-center
            .ourservice-item 
                img(src="./images/Consultancy.svg", alt="", srcset="")
                p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
.enterpriseapp 
    .container 
        .row.justify-content-center
            .col-md-6.col-12
                img(class ='enter-img' src="./images/enter1.png", alt="")
            .col-md-6.col-12
                .enterpriseapp-text
                    h1 Enterprise app
                    p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
                    .enterpriseapp-button
                        button View more
.enterpriseapp 
    .container 
        .row.justify-content-center
            .col-md-6.col-12
                .enterpriseapp-text
                    h1 Packaged app
                    p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
                    .enterpriseapp-button
                        button View more
            .col-md-6.col-12
                img(class ='enter-img1' src="./images/enter2.png", alt="")
.enterpriseapp 
    .container 
        .row.justify-content-center
            .col-md-6.col-12
                img(class ='enter-img' src="./images/enter3.png", alt="")
            .col-md-6.col-12
                .enterpriseapp-text
                    h1 Digital marketing
                    p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
                    .enterpriseapp-button
                        button View more
.enterpriseapp 
    .container 
        .row.justify-content-center
            .col-md-6.col-12
                .enterpriseapp-text
                    h1 Health technology
                    p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
                    .enterpriseapp-button
                        button View more
            .col-md-6.col-12
                img(class ='enter-img1' src="./images/enter4.png", alt="")
.enterpriseapp 
    .container 
        .row.justify-content-center
            .col-md-6.col-12
                img(class ='enter-img' src="./images/enter5.png", alt="")
            .col-md-6.col-12
                .enterpriseapp-text
                    h1 Consultancy
                    p Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
                    .enterpriseapp-button
                        button View more