.discovery
	.container.d-flex.justify-content-center.align-items-center
		.row
			.col-lg-6.col-12.d-flex.justify-content-center.align-items-center
				img(src="images/home/mia.svg", alt="")
			.col-lg-6.col-12
				p.title Khám Phá Các Loại <br> Trái Cây Việt Nam
				.content 
					p Bản đồ trái cây Việt Nam ra đời tạo tiền đề để:
					ul 
						li Hệ thống hoá thông tin dữ liệu hình ảnh trái cây Việt Nam theo chỉ dẫn địa lý và đặc hữu vùng miền.
						li Thay đổi nhận diện thương hiệu của trái cây Việt Nam thị trường nội địa và quốc tế.
						li Quảng bá hình ảnh và chất lượng trái cây Việt Nam tại các sự kiện, triển lãm, hội nghị, hội chợ trái cây quốc tế.
						li Thúc đẩy tiêu thụ trái cây nội địa trong tình hình mùa dịch Covid bằng cách tiếp cận mới.