.foot
	p.title Discover our project
	a(href="https://www.bandotraicayvietnam.com") https://www.bandotraicayvietnam.com
	img.left(src="../../images/mia/foot-left.svg", alt="")
	img.right(src="../../images/mia/foot-right.svg", alt="")