.section-timeline
	.container
		.chicago.d-flex
			img.fly(src="../../images/about/fly.svg", alt="")
			.row
				.left.col-5
					img(src="../../images/about/map-usa.png", alt="")
				.right.col-7
					p.title Chicago - 2016
					p.content Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước. 
		.vietnam
			.row
				.left.col-7 
					p.title Way back to Vietnam
					p.content Từ lâu, Việt Nam là đất nước với truyền thống nông nghiệp lâu đời cùng những thành tích cao về xuất khẩu nông sản. Sau 7 năm tham khảo các mô hình thương mại thành công trong ngành trái cây quốc tế, nhận thấy việc làm thương hiệu cho trái cây Việt Nam một cách chuyên nghiệp sẽ góp phần nâng cao giá trị sản phẩm và xúc tiến thương mại hiệu quả trong và ngoài nước.  
				.right.col-5
					img(src="../../images/about/map-vn.png", alt="")
