.time-tracker-about{
    .product-top {
        padding: 50px 0;
        background-color: $color-background;
        // border-top: 2px solid $color-border-top;
        .container-fluid{
            height: 100%;
            .row{
                height: 100%;
                .col{
                    height: 100%;
                }
            }
        }
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img{
                width: unset;
                @media screen and (max-width: 1560px) {
                    height: 80%;
                }
            }
        }
        .right{
            height: 100%;
            color: $color-white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and(max-width:991px) {
                align-items: center;
            }
            .content{
                width: 75%;
                @media screen and(max-width: 576px) {
                    width: 85%;
                }
            }
            .title{
                width: 75%;
                font-size: 40px;
                font-family: $font-poppins;
                font-weight: 600;
                margin-bottom: 35px;
                @media screen and (max-width: 1560px) {
                    font-size: 35px;
                }
                @media screen and (max-width: 576px) {
                    font-size: 30px;
                    margin-bottom: 30px;
                    width: 85%;
                }
            }
        } 
    }
    .product-bottom {
        padding: 50px 0;
        background-color: $color-background;
        // border-top: 2px solid $color-border-top;
        .container-fluid{
            height: 100%;
            .row{
                height: 100%;
                .col{
                    height: 100%;
                }
            }
        }
        .left{
            height: 100%;
            color: $color-white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .content{
                width: 75%;
                @media screen and(max-width: 576px) {
                    width: 85%;
                }
            }
            .title{
                width: 75%;
                font-size: 40px;
                font-family: $font-poppins;
                font-weight: 600;
                margin-bottom: 35px;
                @media screen and (max-width: 1560px) {
                    font-size: 35px;
                }
                @media screen and (max-width: 576px) {
                    font-size: 30px;
                    margin-bottom: 30px;
                    width: 85%;
                }
            }
        } 
        .right{
            height: 100%;
            align-items: center;
            display: flex;
            @media screen and(max-width: 991px){
                justify-content: center;
                margin-top: 30px;
            }
            img{
                width: 80%;
            }
        }
    }
    .viewmore{
        height: 100vh;
        background-color: $color-background;
        // border-top: 2px solid $color-border-top;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // overflow: hidden;
        .content{
            .title{
                font-size: 60px;
                font-family: $font-poppins;
                font-weight: 700;
                color: $color-white;
                @media(max-width: 1919px){
                    font-size: 50px;
                }
                @media(max-width: 576px){
                    font-size: 30px;
                }
            }
            .link{
                text-align: center;
                margin-top: 40px;
                a{
                    padding: 15px 30px;
                    background: linear-gradient(to right,#AF6BAD, #7F4CB1);
                    border-radius: 35px;
                    font-size: 24px;
                    font-family: $font-poppins;
                    font-weight: 500;
                    color: $color-white;
                    @media(max-width: 576px){
                        font-size: 18px;
                        padding: 10px 20px;
                    }
                }
            }
        }
        .circle-5{
            position: absolute;
            top: -15%;
            left: -15%;
            @media screen and (max-width: 1560px) {
                img{
                    width: 60%;
                }
            }
            @media screen and (max-width: 991px) {
                top: 20px;
                img{
                    width: 50%;
                }
            }
        }
        .circle-4{
            position: absolute;
            bottom: 15%;
            right: 10%;
            img{
                width: 70%;
            }
            @media screen and(max-width: 991px) {
                bottom: 22%;
            }
            @media screen and(max-width: 576px) {
                bottom: 10%;
                right: -7%;
            }
        }
    }
}