.time-tracker-banner{
    height: 100vh;
    background-image: url('../images/time-tracker/HRM.svg');
    margin-top: 10vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .container-fluid{
        height: 100%;
        .row{
            height: 100%;
            .col{
                height: 100%;
                
            }
        }
        .left-content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                width: 65%;
                z-index: 9;
            }
            .title{
                font-family: $font-openSans;
                color: $color-white;
                font-size: 54px;
                font-weight: 600;
                z-index: 9;
                @media screen and (max-width: 1560px) {
                    font-size: 45px;
                }
            }
        }
    }
    img{
        width: unset;
        @media screen and (max-width: 1560px) {
            width: 70%;
        }
    }
    .circle-1{
        position: absolute;
        bottom: 12%;
        left: -5%;

    }
    .circle-2{
        position: absolute;
        bottom: 12%;
        right: 40%;
    }
    .circle-3{
        position: absolute;
        top: 15%;
        right: -5%;
    }
}