.time-tracker-banner{
    height: 100vh;
    background-image: url('../images/time-tracker/bg.png');
    margin-top: 10vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .container-fluid{
        height: 100%;
        .row{
            height: 100%;
            .col{
                height: 100%;
                
            }
        }
        .left-content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
                z-index: 9;
                @media screen and(max-width: 576px) {
                    width: 70%;
                    padding-top: 20px;
                }
            }
            .title{
                font-family: $font-openSans;
                color: $color-white;
                font-size: 54px;
                font-weight: 600;
                z-index: 9;
                @media screen and (max-width: 1560px) {
                    font-size: 45px;
                }
                @media screen and(max-width: 991px) {
                    text-align: center;
                }
                @media screen and(max-width: 576px) {
                    font-size: 35px;
                }
            }
        }
    }
    img{
        width: unset;
        @media screen and (max-width: 1560px) {
            width: 70%;
        }
    }
    .circle-1{
        position: absolute;
        bottom: 12%;
        left: -5%;
        display: none;
        @media screen and (max-width: 991px) {
            display: block;
            top: 3%;
        }
    }
    .circle-2{
        position: absolute;
        bottom: 12%;
        right: 40%;
        display: none;
    }
    .circle-3{
        position: absolute;
        top: 15%;
        right: -5%;
        display: none;
    }
}