.enterpriseapp {
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    .enterpriseapp-item {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            margin-left: 190px;
        }
        @media screen and (min-width: 375px) and (max-width: 430px) {
            margin-left: 0;
            width: 90%;
        }
        h1 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 80px;
            color: $color-heading;
            white-space: nowrap;
            @media screen and (min-width: 1440px) and (max-width: 1600px) {
                font-size: 73px;
            }
            @media screen and (min-width: 1366px) and (max-width: 1439px) {
                font-size: 70px;
            }
            @media screen and (min-width: 1024px) and (max-width: 1365px) {
                font-size: 50px;
            }
            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }
        p {
            color: $color-heading;
            margin-top: 64px;
            font-size: 18px;
            font-family: "Helvetica";
            text-align: justify;
        }
        a {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: $color-heading;
            text-align: center;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            outline: none;
            color: $color-heading;
            font-size: 24px;
            width: 50%;
            padding: 10px;
        }
    }
}
.product {
    height: 100vh;
    margin-top: -1px;
    @media screen and (max-width: 991px) {
        height: 120vh;
    }
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    .product-text-respon {
        @media screen and (min-width: 375px) and (max-width: 430px) {
            justify-content: flex-end !important;
        }
    }
    .product-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media screen and (min-width: 375px) and (max-width: 430px) {
            margin-top: 100px;
        }
        h3 {
            font-size: 36px;
            font-weight: 600;
            color: $color-heading;
            font-family: "Montserrat", sans-serif;
        }
        p {
            font-size: 24px;
            font-weight: 500;
            color: $color-heading;
            font-family: "Helvetica";
            text-align: justify;
            font-size: 18px;
        }
        button {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: $color-heading;
            text-align: center;
            height: 39px;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            padding: 0 10px;
            font-weight: 600;
            outline: none;
        }
    }
    .product-img-respon {
        @media screen and (min-width: 375px) and (max-width: 430px) {
            width: 375px !important;
            height: 475px !important;
            display: flex;
            justify-content: center;
        }
    }
    .product-img {
        width: 375px;
        height: 786px;
        position: relative;
        transform-style: preserve-3d;
        @media screen and (min-width: 375px) and (max-width: 430px) {
            width: 375px;
            height: 400px;
        }
        .product-mia {
            width: 375px;
            height: 786px;
            position: absolute;
            z-index: -1;
            @media screen and (min-width: 375px) and (max-width: 430px) {
                width: 375px;
                height: 415px;
                margin-top: 100px;
            }
            @media screen and (max-width: 768px) {
                width: 209px;
                height: 786px;
            }
        }
        .product-mia-respon {
            @media screen and (min-width: 375px) and (max-width: 430px) {
                width: 220px;
                height: 412px;
                margin-top: 100px;
            }
            @media screen and (max-width: 768px) {
                height: 470px;
            }
        }
        .product-erp {
            width: 675px;
            height: 786px;
            position: absolute;
            z-index: -1;
            @media screen and (min-width: 1024px) and(max-width:1200px) {
                width: 515px;
            }
            @media screen and (min-width: 375px) and (max-width: 430px) {
                width: 100% !important;
                height: 415px !important;
                margin-top: 100px;
            }
            @media screen and (max-width: 768px) {
                width: 425px;
                height: 786px;
            }
        }
    }
}
.enterpriseapp-send {
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    .enterpriseapp-send-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: 375px) and (max-width: 430px) {
            margin-left: 0;
        }
        h1 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 80px;
            color: $color-heading;
            white-space: nowrap;
            @media screen and (min-width: 1440px) and (max-width: 1600px) {
                font-size: 73px;
            }
            @media screen and (min-width: 1366px) and (max-width: 1439px) {
                font-size: 70px;
            }
            @media screen and (min-width: 1024px) and (max-width: 1365px) {
                font-size: 50px;
            }
            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }
        a {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: $color-heading;
            text-align: center;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            outline: none;
            font-size: 24px;
            width: 25%;
            padding: 10px;
            margin-top: 40px;
            cursor: pointer;
            @media screen and (min-width: 768px) and(max-width:900px) {
                width: 40%;
            }
            @media screen and (min-width: 375px) and (max-width: 430px) {
                width: 60%;
            }
        }
        a:not([href]):not([tabindex]):hover {
            color: $color-heading;
            text-decoration: none;
        }
    }
}
