.enterpriseapp {
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    .enterpriseapp-item {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            margin-left: 130px;
        }
        h1 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 80px;
            color: $color-heading;
            white-space: nowrap;
            @media screen and (min-width: 1440px) and (max-width: 1600px) {
                font-size: 73px;
            }
            @media screen and (min-width: 1366px) and (max-width: 1439px) {
                font-size: 70px;
            }
            @media screen and (min-width: 1024px) and (max-width: 1365px) {
                font-size: 50px;
            }
            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }
        p {
            color: $color-heading;
            margin-top: 64px;
        }
        a {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: $color-heading;
            text-align: center;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            outline: none;
            color: $color-heading;
            font-size: 24px;
            width: 50%;
            padding: 10px;
        }
    }
}
.product {
    border-top: 2px solid #3a3a3a;
    height: 100vh;
    @media screen and (max-width: 991px) {
        height: 120vh;
    }
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    .product-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h3 {
            font-size: 36px;
            font-weight: 600;
            color: #bfa871;
            font-family: "Montserrat", sans-serif;
        }
        p {
            font-size: 24px;
            font-weight: 500;
            color: #bfa871;
            font-family: "Montserrat", sans-serif;
        }
        button {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: $color-heading;
            text-align: center;
            height: 39px;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            padding: 0 10px;
            font-weight: 600;
            outline: none;
        }
    }
    .product-img {
        width: 375px;
        height: 786px;
        position: relative;
        transform-style: preserve-3d;
        .product-mia {
            width: 375px;
            height: 786px;
            position: absolute;
            z-index: -1;
        }
        .product-erp {
            width: 675px;
            height: 786px;
            position: absolute;
            z-index: -1;
            @media screen and (min-width: 1024px) and(max-width:1200px) {
                width: 515px;
            }
        }
    }
}
.enterpriseapp-send {
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    .enterpriseapp-send-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            margin-left: 130px;
        }
        h1 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 80px;
            color: $color-heading;
            white-space: nowrap;
            @media screen and (min-width: 1440px) and (max-width: 1600px) {
                font-size: 73px;
            }
            @media screen and (min-width: 1366px) and (max-width: 1439px) {
                font-size: 70px;
            }
            @media screen and (min-width: 1024px) and (max-width: 1365px) {
                font-size: 50px;
            }
            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }
        a {
            border: none;
            border-radius: 60px;
            background-color: #282828;
            color: $color-heading;
            text-align: center;
            box-shadow: 3px 1px 8px #000000, 0px -1px 6px #6f6d6d;
            outline: none;
            color: $color-heading;
            font-size: 24px;
            width: 25%;
            padding: 10px;
            margin-top: 40px;
        }
    }
}
