.home-about
    .container-fluid
        .row 
            .col-1 
            .col-8
                p.title We Are Working On 
            .col-1
        .row 
            .col-1 
            .col-2
                .item
                    img(src="images/home/manufacture-1.png", alt="")
                    p.sub 
                        | Enterprise app
            .col-2
                .item
                    img(src="images/home/manufacture-2.png", alt="")
                    p.sub 
                        | Packaged app
            .col-2 
                .item
                    img(src="images/home/manufacture-3.png", alt="")
                    p.sub 
                        | Digital marketing
            .col-2 
                .item
                    img(src="images/home/manufacture-4.png", alt="")
                    p.sub 
                        | Health technology
            .col-2 
                .item
                    img(src="images/home/manufacture-5.png", alt="")
                    p.sub 
                        | Consultancy
            .col-1

