.home-about
    .container-fluid
        .row 
            .col-xl-1
            .col-10
                p.title We Are Working On 
            .col-xl-1
        .row 
            .col-0.col-xl-1 
            .col-xl-2.col-4
                .item
                    img(src="images/home/manufacture-1.png", alt="")
                    p.sub 
                        | Enterprise app
            .col-xl-2.col-4
                .item
                    img(src="images/home/manufacture-2.png", alt="")
                    p.sub 
                        | Packaged app
            .col-xl-2.col-4
                .item
                    img(src="images/home/manufacture-3.png", alt="")
                    p.sub 
                        | Digital marketing
            .col-xl-2.col-4
                .item
                    img(src="images/home/manufacture-4.png", alt="")
                    p.sub 
                        | Health technology
            .col-xl-2.col-4
                .item
                    img(src="images/home/manufacture-5.png", alt="")
                    p.sub 
                        | Consultancy
            .col-0.col-xl-1

