.home-banner 
    .container-fluid
        .row 
            .col-4
                .left-banner
                    img(src="images/home/left-banner.png", alt="")
            .col-2
            .col-6
                .right-banner 
                    img(src="images/home/right-banner.png", alt="")
