.home-partner 
    .main 
        .title 
            p We Partner With  Smart Businesses
        .logo 
            .container-fluid 
                .row.top-row 
                    .col-4
                        .item
                            img(src="images/home/partner/siam.png", alt="")
                    .col-4
                        .item
                            img(src="images/home/partner/mia.png", alt="")
                    .col-4
                        .item
                            img(src="images/home/partner/pronexus.png", alt="")
                .row.bot-row
                    .col-4
                        .item
                            img(src="images/home/partner/vietuc.png", alt="")
                    .col-4
                        .item
                            img(src="images/home/partner/bachsuites.png", alt="")
                    .col-4
                        .item
                            img.cuongthinh(src="images/home/partner/cuongthinh-gr.png", alt="")