.home-partner 
    .main 
        .title(class="animate__animated wow animate__fadeIn" style="animation-delay: 0.5s") 
            p We Partner With  Smart Businesses
        .logo(class="animate__animated wow animate__fadeIn" style="animation-delay: 1s") 
            .container-fluid 
                .row
                    .col-md-4.col-6
                        .item.top-row 
                            img(src="images/home/partner/siam.png", alt="")
                    .col-md-4.col-6
                        .item.top-row 
                            img(src="images/home/partner/mia.png", alt="")
                    .col-md-4.col-6
                        .item.top-row 
                            img(src="images/home/partner/pronexus.png", alt="")
                    .col-md-4.col-6
                        .item.bot-row
                            img(src="images/home/partner/vietuc.png", alt="")
                    .col-md-4.col-6
                        .item.bot-row
                            img(src="images/home/partner/bachsuites.png", alt="")
                    .col-md-4.col-6
                        .item.bot-row
                            img.cuongthinh(src="images/home/partner/cuongthinh-gr.png", alt="")