.home-partner 
    .main 
        .title(class="animate__animated wow animate__fadeIn" style="animation-delay: 0.5s") 
            p We Partner With  Smart Businesses
        .logo(class="animate__animated wow animate__fadeIn" style="animation-delay: 1s") 
            .container-fluid 
                .row.top-row 
                    .col-4
                        .item
                            img(src="images/home/partner/siam.png", alt="")
                    .col-4
                        .item
                            img(src="images/home/partner/mia.png", alt="")
                    .col-4
                        .item
                            img(src="images/home/partner/pronexus.png", alt="")
                .row.bot-row
                    .col-4
                        .item
                            img(src="images/home/partner/vietuc.png", alt="")
                    .col-4
                        .item
                            img(src="images/home/partner/bachsuites.png", alt="")
                    .col-4
                        .item
                            img.cuongthinh(src="images/home/partner/cuongthinh-gr.png", alt="")