.products
	.section-product_mia
		.content
			.left(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 0.5s")
				.text
					p.title Viet Nam Fruit Map
					p.subtitle Bản đồ Trái Cây Việt Nam
				a(href="./mia-landing.html")  View More
			.right.tilt(class="animate__animated wow animate__bounceInRight" style="animation-delay: 0.75s;animation-duration: 1.5s")
				img(src="../../images/home/mia.svg", alt="")
	.section-product_hopital
		.container-fluid.d-flex.align-items-center.justify-content-center(style="position:relative;")
			.content
				.left.tilt(class="animate__animated wow animate__fadeInUp" style="animation-delay: 0.5s")
					img(src="../../images/home/hopital.svg", alt="")
				.right(class="animate__animated wow animate__fadeInUp" style="animation-delay: 1s")
					.text
						p.title CloudDoctor
						p.subtitle Phần mềm y bạ điện tử
					a(href="cloud-doctor.html") 
						button View More 
			button.view-all View All