.products
	.section-product_mia
		.content
			.left
				.text
					p.title Viet Nam Fruit Map
					p.subtitle Bản đồ Trái Cây Việt Nam
				button View More
			.right
				img(src="../../images/home/mia.svg", alt="")
	.section-product_hopital
		.container-fluid.d-flex.align-items-center.justify-content-center(style="position:relative;")
			.content
				.left
					img(src="../../images/home/hopital.svg", alt="")
				.right
					.text
						p.title CloudDoctor
						p.subtitle Phần mềm y bạ điện tử
					button View More 
			button.view-all View All