.section-email
	.content  
		p.title(class="animate__animated wow animate__fadeIn" style="animation-delay: 0.5s") Let's Work Together
		button(class="animate__animated wow animate__bounceOut" style="animation-delay: 0.5s") Send an email