.home-slogan
    .container-fluid
        .slogan(class="animate__animated wow animate__backInUp" style="animation-delay: 0.5s; animation-duration: 1.5s") 
            P   
                | Some of works made us
                br
                | Be Extraordinary in technology