.contact 
    .container 
        .row 
            .col-md-7.col-12 
                .contact-text 
                    h1() LET'S WORK TOGETHER
                    .contact-text-address 
                        h4() Visit us
                        p 4th floor, N03-T7, Ngoai Giao Doan, 
                    .contact-text-email 
                        h4() Join us
                        p sales@consultindochina.com
                .contact-social.d-flex
                    .contact-social-touch
                        p Get in touch:
                        .contact-social-touch-item.d-flex 
                            img(src="images/contact/facebook.svg", alt="") 
                            img(src="images/contact/google.svg", alt="") 
                            img(src="images/contact/smartphone.svg", alt="") 
                    .contact-social-map 
                        img(src="images/contact/Map.svg", alt="")
            .col-md-5.col-12.d-flex.justify-content-center
                .contact-send 
                    img(src="images/contact/MAIL.svg", alt="")
                    a(href="") Send an email 
