.container-fluid {
  width: 95%; }

ul {
  list-style-type: none; }

.header .container-fluid {
  display: flex;
  justify-content: space-between; }
  .header .container-fluid .header__menu-list {
    display: flex; }
    .header .container-fluid .header__menu-list li {
      margin-right: 60px; }
      .header .container-fluid .header__menu-list li a {
        display: flex;
        align-items: center; }
        .header .container-fluid .header__menu-list li a img {
          margin-right: 12px; }

.ourservice {
  height: 100vh;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center; }
  .ourservice .ourservice-item {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .ourservice .ourservice-item img {
      width: 530px;
      height: 85px;
      margin-left: -43px; }
    .ourservice .ourservice-item p {
      color: #bfa871;
      margin-top: 64px; }

.enterpriseapp {
  height: 100vh;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center; }
  .enterpriseapp .enter-img {
    width: 405px;
    height: 405px; }
  .enterpriseapp .enter-img1 {
    margin-left: 200px;
    width: 405px;
    height: 405px; }
  .enterpriseapp .enterpriseapp-text h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 80px;
    color: #bfa871;
    white-space: nowrap; }
  .enterpriseapp .enterpriseapp-text p {
    color: #bfa871;
    margin-top: 36px; }
  .enterpriseapp .enterpriseapp-text .enterpriseapp-button {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .enterpriseapp .enterpriseapp-text .enterpriseapp-button button {
      border-radius: 60px;
      background-color: #282828;
      color: #bfa871;
      text-align: center; }
