extends master.pug
block css
   link(rel="stylesheet", href="css/main.css", attr)
block content
  include ./components/About/banner.pug
  include ./components/About/timeline.pug
  include ./components/About/result.pug
  include ./components/About/foot.pug