extends master.pug
block css
   link(rel="stylesheet", href="css/main.css", attr)
block content
   include ./components/Home/banner.pug
   include ./components/Home/about.pug
   include ./components/Home/slogan.pug
   include ./components/Home/product.pug
   include ./components/Home/send-email.pug
   
