doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css2?family=Lato&display=swap' rel='stylesheet')
        block css
    body
        include ./layouts/header.pug
        block content
        include ./layouts/footer.pug
        script(src="js/main.js")

