doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
        block css
    body
        include ./layouts/header.pug
        block content
        include ./layouts/footer.pug
        script(src="js/main.js")

