extends master.pug
block css
   link(rel="stylesheet", href="css/main.css", attr)
block content
   include ./components/Mia-landing/banner.pug
   include ./components/Mia-landing/introduce.pug
   include ./components/Mia-landing/discovery.pug
   include ./components/Mia-landing/video.pug
   include ./components/Mia-landing/infor.pug
   include ./components/Mia-landing/foot.pug

   
