extends master.pug
block css
   link(rel="stylesheet", href="./css/main.css", attr)
block content
    include ./components/TimeTracker/banner.pug
    include ./components/TimeTracker/introduce.pug
    include ./components/TimeTracker/about.pug