.time-tracker-about 
    .product-top 
        .container-fluid
            .row 
                .col-xl-6 
                    .left
                        img(src="images/time-tracker/phone-1.svg", alt="")
                .col-xl-6 
                    .right 
                        .title 
                            | Bản đồ trái cây Việt Nam ra đời tạo tiền đề để:
                        .content 
                            | 1/ Hệ thống hoá thông tin dữ liệu hình ảnh trái cây Việt Nam theo chỉ dẫn địa lý và đặc hữu vùng miền.
                            br
                            | 2/ Thay đổi nhận diện thương hiệu của trái cây Việt Nam thị trường nội địa và quốc tế.
                            br
                            | 3/ Quảng bá hình ảnh và chất lượng trái cây Việt Nam tại các sự kiện, triển lãm, hội nghị, hội chợ trái cây quốc tế.
                            br
                            | 4/ Thúc đẩy tiêu thụ trái cây nội địa trong tình hình mùa dịch Covid bằng cách tiếp cận mới.
                            br
                            | 5/ Thúc đẩy mối liên kết giữa chính quyền, người sản xuất, nhà khoa học, doanh nghiệp cùng đồng hành để nâng cao chất lượng, giá trị, thị trường và vị thế của trái cây Việt.
    .product-bottom
        .container-fluid
            .row 
                
                .col-xl-6 
                    .left 
                        .title 
                            | Bản đồ trái cây Việt Nam ra đời tạo tiền đề để:
                        .content 
                            | 1/ Hệ thống hoá thông tin dữ liệu hình ảnh trái cây Việt Nam theo chỉ dẫn địa lý và đặc hữu vùng miền.
                            br
                            | 2/ Thay đổi nhận diện thương hiệu của trái cây Việt Nam thị trường nội địa và quốc tế.
                            br
                            | 3/ Quảng bá hình ảnh và chất lượng trái cây Việt Nam tại các sự kiện, triển lãm, hội nghị, hội chợ trái cây quốc tế.
                            br
                            | 4/ Thúc đẩy tiêu thụ trái cây nội địa trong tình hình mùa dịch Covid bằng cách tiếp cận mới.
                            br
                            | 5/ Thúc đẩy mối liên kết giữa chính quyền, người sản xuất, nhà khoa học, doanh nghiệp cùng đồng hành để nâng cao chất lượng, giá trị, thị trường và vị thế của trái cây Việt.
                .col-xl-6 
                    .right
                        img(src="images/time-tracker/phone-2.svg", alt="")
    .viewmore
        .content 
            .title 
                | Discover our project
            .link 
                a(href="https://www.timetracker.com")
                    | https://www.timetracker.com
        .circle-5 
            img(src="images/time-tracker/circle-5.svg", alt="")
        .circle-4
            img(src="images/time-tracker/circle-4.svg", alt="")


