.time-tracker-banner
    .container-fluid 
        .row 
            .col-1
            .col-5
                .left-content
                    img(src="images/time-tracker/logo.svg", alt="")(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 0.5s") 
                    p.title(class="animate__animated wow animate__fadeInLeft" style="animation-delay: 1s")  Phần mềm công lương
    .circle-1
        img(src="images/time-tracker/circle-1.svg", alt="") 
    .circle-2 
        img(src="images/time-tracker/circle-2.svg", alt="") 
    .circle-3
        img(src="images/time-tracker/circle-3.svg", alt="") 